/**
 * $FONT-FACE
 */


/**
 * $BASE-TYPOGRAPHY
 */
html {
  font-family: $bodyFont;
  color: $bodyCopy;
  /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	font-weight: $bodyFontWeight;
  font-size: 16px;
  line-height: 1.7;
	@include from(d){
	  font-size: $base-font-size;
    line-height: 1.9;
	}
	&.lt-ie9{
  	font-size: $base-font-size;
	}
}

/**
 * $LINKS
 */
a{
  color: #000;
  text-decoration: none;
  @include transition(color .5s ease);
  &:hover{
    color:$darkBlue;
    text-decoration: none;
  }
  .node--basic-page &,
  .node--condo-project--full &{
    color:$darkBlue;
    &:hover{
      color:#000;
    }
  }
}

/**
 * $HEADINGS
 */

h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  font-family: $headerFont;
  font-weight: $headerFontWeight;
}

h1, .alpha {
  font-weight: 400;
  line-height: 1;
  @include rem(font-size, 36px);
  
}
h2, .beta {
  @include font-size(28px);
  line-height: 1.2;
  &.region-title{
      margin-top: 0;
      @include font-size(26px);
      @include rem(margin-bottom, 25px);
  }
}
h3, .gamma {
  @include font-size(26px);
  line-height: 1.1;
  @include to(pt){
     @include font-size(22px);
  }
}
h4, .delta {
  @include font-size(18px);
}
h5, .epsilon{
  @include font-size(16px);
}
h6, .zeta {
  @include font-size(16px);
}
hr{
  border: 0;
  height: 1px;
  margin: 25px 0;
}
h1,h2,h3,h4,h5,h6,p,%p,div,span{
  text-rendering: optimizeLegibility;
   -moz-font-feature-settings:"lnum" 1, "kern" 1, "liga" 1; 
  -moz-font-feature-settings:"lnum=1, kern=1, liga=1"; 
  -ms-font-feature-settings:"lnum" 1, "kern" 1, "liga" 1; 
  -o-font-feature-settings:"lnum" 1, "kern" 1, "liga" 1; 
  -webkit-font-feature-settings:"lnum" 1, "kern" 1, "liga" 1; 
  font-feature-settings:"lnum" 1, "kern" 1, "liga" 1;
}
/**
 * $PARAGRAPHS
 */
p,
%p {
  @include rem(margin-top, 25px);
  @include rem(margin-bottom, 25px);
  -ms-word-break: normal;
  -ms-word-wrap: normal;
  word-break: normal;
}
strong{
  font-weight: 700;
}
pre{
  font-size: 11px;
}
/**
 * $QUOTES
 */
blockquote {
  @extend %p;
  padding: 0 1.5em;
  border-left: 5px solid $green;
}

q {
  font-style: italic;
}

/**
 * $MARKS
 */
mark,
.marker {
  padding: 0.1em 0.5em;

  background: $darkGreen;

  color: #fff;
  @include font-size(12px);
  text-transform: capitalize;

  @include border-radius(10px);
}

.inline{
  .field-label{
    @include inline-block;
    margin-right: 3px;
  }
  .field-item,
  .field-items{
    @include inline-block;
  }
}