
.owl-theme {
	// controls container
	.owl-controls {
		margin-top: 10px;
		text-align: center;
		-webkit-tap-highlight-color: transparent;
	}

	// Styling Next and Prev buttons
	.owl-controls {
		.owl-nav{
      >div{
        position: absolute;
        top:0;
        color: #FFF;
        @include squish-text;
      }
      .owl-prev{
        @include rem(left, 10px);
      }
      .owl-next{
        @include rem(right, 10px);
      }
    }
	}

	// Styling dots
	.owl-dots {
    position: absolute;
    width: 100%;
    bottom:-50px;
		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;
      
			span {
				width: $dot-width;
				height: $dot-height;
				margin: $dot-margin;
				background-color: #000;
				display: block;
				border: 0px solid #000;
				-webkit-backface-visibility: visible;
				@include transition(opacity, 200ms, ease);
				@include rounded($dot-rounded);

			}

			&.active,
			&:hover {
				span {
          background: $colourHighlight;
          .victoria &{
            background-color: $victoriaHighlight;
          }
				}
			}
		}
	}
}