body.mobile-menu-visible{
  overflow: hidden;
}
#mobile-navigation{
  right: 0;
  position: fixed;
  top:0;
  background-color: #FFF;
  z-index: 0;
  z-index: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 0;
  a{
    color: #000;
  }
  &.mobile-menu-visible{
    display: block;
  }
  ul,li{
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-image: none;
  }
  .inner{
    @include rem(padding,55px, 20px, 0);
  }
  .admin-bar &{
    top:46px;
  }
  .caret{
    width: 22px !important;
    height: 22px !important;
  }
  .selected .caret:before{
    //font-size: 14px !important;
  }
  .close{
    @include squish-text;
    position: absolute;
    right:15px;
    top:7px;
    width: 35px;
    height: 35px;
    z-index: 20;
    &:before{
      position: absolute;
      top:0;
      left: 0;
      font-size: 35px;
      color: #000;
      @extend %icon;
      @extend %close;
    }
  }
  .user{
    .menu{
     
    }
    li{
      margin-bottom: 15px;
      a{
        display: block;
        background-color: $colourHighlight;
        color: #FFF;
        @include rem(margin-right, 10px);
        @include rem(margin-bottom, 10px);
        @include rem(padding, 10px);
      }
    }
  }
  .main{
    li a{
      font-size: 22px;
      display: block;
      padding: 20px 0 20px 0;
      font-family: $headerFont;
      font-weight: 700;
      text-transform: uppercase;
      border-bottom: 1px solid #DDD;
      white-space: nowrap;
    }
    li ul a{
      padding-left: 35px;
    }
    li ul li.active{
      a{
        color: $blue;
      }
      a:before{
        left: 5px;
        top:22px;
      }
    }
  }
  @include translateX(0%);
  .no-csstransforms &{
    right: 100%;
  }
  
  .no-touch &{
    @include from(sd, $noquery){
      display: none !important;
    }
  }
}


.l-page{
  @include transition(transform .25s linear);
    &.mobile-menu-visible{
      @include translate3d(-100%,0,0);
      @include from(pt){
        @include translate3d(-50%,0,0);
      }
      @include from(sd, $noquery){
        //@include transform(none);
      }
    }
  .no-csstransforms3d &{
    &.mobile-menu-visible{
      right: -50%;
      @include from(pt){
        right:100%;
      }
      @include from(sd, $noquery){
        right:0;
      }
    }
  }
}
#mobile-navigation{
    @include transition(transform .25s linear);
    @include transform3d(translate3d(100%, 0,0));
    opacity: 1;
    &.mobile-menu-visible{
      width: 100%;
      opacity: 1;
      @include transform3d(translate3d(0%,0,0));
      @include from(pt){
        border-left: 2px solid rgba(50, 50, 50, 0.2);
        width: 50% !important;
      }
      @include from(sd, $noquery){
        @include transform(none);
      }
    }
  .inner{
    width: 100%;
    position: relative;
    min-width: 320px;
    @include from(pt){
      min-width: 393px;
      width: 50% !important;
    }
    @include from(lt){
      min-width: 490px;
    }
  }
}

.menu-toggle{
  top:50%;
  margin-top: -20px;
  right: 20px;
  width: 40px;
  height: 40px;
  position: absolute;
  @include border-radius(5px);
  @include squish-text;
  &:before{
    color: #000;
    @extend %icon;
    @extend %menu;
    position: absolute;
    top:0;
    left: 0;
    font-size: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
  }
  &:hover{
    &:before{
      color: #FFF;
    }
  }
}
