.selector{
  padding: 0;
  margin: 0;
  @include horizontal-center;
  width: 95%;
  max-width: 427px;
  background-color: #FFF;
  color: #000;
  @include transition(border-radius .25s ease-in);

  @include at(pt){
    max-width: 395px;
  }
  &.open{
  }
  a{
    color: #000;
  }
  ul,li{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  .container{
    position: relative;
    cursor: pointer;
    @extend %pcf;
    height: 55px;
    a{
      height: 55px;
      display: block;
    }
    .ico-moon,
    .icon{
      @include transition(border-radius .25s ease-in);
      background-color: #666666;
      height: 100%;
      padding: 17px 11px;
      width: (100% - 82.435597189696%);
      text-align:center;
      float: right;
      position: relative;
      &.icon-arrow-down{
        &:before{
          font-size: 22px;
          width: 33px;
          left:0;
          right:0;
          margin-left: auto;
          margin-right: auto;
          margin-top: -11px;          
        }
        &:after{
          border:0px solid #fff;
          @include border-radius(1000px, 1000px);
          position: absolute;
          top:50%;
          width: 34px;
          height: 34px;
          content: ' ';
          left:0;
          right:0;
          margin-left: auto;
          margin-right: auto; 
          margin-top: -17px;         
        } 
      }
      &:before{
        position: absolute;
        height: 33px;
        width: 100%;
        text-align: center;
        font-size: 33px;
        left: 0;
        top:50%;
        margin-top: (33px / 2) * -1;
        z-index: 2;
        color: #FFF;
        line-height: 1;
      }
      img{
        @include vertical-align;
        .lt-ie9 &{
          top:auto;
        }
      }
    }
    b{
      @include vertical-align;
      text-align: center;
      float: left;
      font-family: $headerFont;
      font-weight: 400;
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
      @include rem(font-size, 20px);
      width: 82.435597189696%;
      @include to(lp){
        font-size: 16px;
      }
    }
  }
}
.selections{
  left: -999em;
  &.ready{
    left: 0;
    height: 0;
  }
  position:absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clear: left;
  z-index: 1;
  @include border-radius(0 0 8px 8px);
  @include transition(height .3s ease-out, transform .4s ease-out);
  background-color: #FFF;
  li{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  a{
    display: block;
    text-align: center;
    font-size: 18px;
    padding: 15px 10px;
    border-bottom: 1px solid #e1e5e7;
  }
}
.content-header{
  .city-selector{
    @include to(lp){
      width: 100%;
      b{
        font-size: 13px !important;
      }
    }
  }
}