.owl-theme{
  .owl-controls{
    .owl-nav{
      position: absolute;
      width: 100%;
      top:31%;
      @include rem(margin-top, (75px / 2) * -1);
      @include rem(height, 75px);
      @include from(pt){
        top:26%;
      }
      @include from(lt){
        top:31%;
      }
      @include from(d, $noquery){
        top:34%;
      }
      @include from(ld, $noquery){
        top:37%;
      }
    }
    .owl-nav div{
      width: 72px;
      height:72px;
      &:before{
        @extend %icon;
        position: absolute;
        text-align: center;
        @include rem(font-size, 72px);
        z-index: 10;
        top: 0;
        bottom: 0;
        color: #FFF;
      }
      @include to(lp){
        width: 48px;
        height:48px;
        &::before{
          @include rem(font-size, 48px);
        }
      }
    }
    .owl-prev{
      &:before{
        @extend %angle-left;
        left: 0;
      }
    }
    .owl-next{
      &:before{
        @extend %angle-right;
        right:0;
      }
    }
  }
}