.l-region--meta{
  font-family: $otherFont;
  >ul>li{
    display: table;
    >a{
      display: table-cell;
      vertical-align: middle;
    }
  }
  a{
    position: relative;
    display: block;
  }
  .condos{
    float: left;
    a{
      color: #FFF;
    }
    i{
      position: absolute;
      top:50%;
      float: left;
      left: 0;
      @include rem(margin-top, -12);  
      &:before{
        @include rem(font-size, 24);    
      }    
    }
    > a{
      text-align: center;
      span{
        @include rem(padding-left, 31);
        display: inline-block;
        position: relative;        
      }
    }
  }
  a{
    span{
      display: block;
      //@include vertical-align;  
    }
  }
  .ico-moon:before,
  .translate{
    a{
      color: #666;
    }
    @include rem(font-size, 20px);
    @include from(d){
      @include rem(font-size, 25px);
    }
  }
  .translate{
    a{
      @include rem(font-size, 22px);
      &.english{
        &::after{
          content: " ";
          background: image-url("flag-canada.svg") no-repeat center center;
          background-size: contain;
          position: absolute;
          height: 33px;
          width: 33px;
          top:50%;
          margin-top: -16.5px;
          left: 50%;
          margin-left: -16.5px;
        }
        span{
          color: transparent;
        }
      }
    }
  }
  .search a{
    color: #595959;
  }
  // .user-menu{
  //   position: relative;
  //   .menu{
  //     position: absolute;
  //     top: 67px;
  //     width: 100%;
  //     margin: 0;
  //     background-color: darken($darkGrey,10%);
  //     padding: 0px 0;
  //     overflow: hidden;
  //     left: 0;
  //     @include transition(height .35s ease-in);
  //     .no-js &{
  //       height: 0;
  //     }
  //     li{
  //       margin: 0;
  //       padding: 0;
  //       list-style-type: none;
  //       list-style-image: none;
  //       &:first-child{
  //         padding-top: 20px;
  //       }
  //       &:last-child{
  //         padding-bottom: 10px;
  //       }
  //     }
  //     a{
  //       display: block;
  //       padding: 10px 5px;
  //       color: #FFF;
  //       line-height: 1.2;
  //       font-size: 14px;
  //       text-transform: uppercase;
  //       @include transition(all .8s ease);
  //       &:hover{
  //         background-color: darken($darkGrey,10%);
  //       }
  //     }
  //   }
//     >a{
//       color: #FFF;
//     }
//     span{
//       @include to(pt){
//         @include squish-text;
//       }
//       /*
// &:before{
//         color: #fff;
//         @extend %icon;
//         @extend %menu;
//         position: absolute;
//         top:50%;
//         margin-top:-20px;
//         left: 0;
//         font-size: 40px;
//         width: 40px;
//         height: 40px;
//         text-align: center;
//       }
// */
//     }
//   }
}