.l-branding{
  h1{
    @include rem(font-size, 20px);
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
    font-family: $otherFont;
    word-spacing: -4px;
    color: $darkGrey;
    a{
      color: $darkGrey;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
.l-region--header{
  .victoria &{
    background-color: $victoriaHighlight;
  }
  background-color: $colourHighlight;
  text-align: center;
  position: relative;
  z-index: 5;
  h3{
    margin-top: 0;
    font-size: 24px;
    @include at(pt){
      font-size: 20px;
    }
    @include to(lp){
      font-size: 17px;
    }
  }
  .selector{
    margin-bottom: 20px;
    &.closest-selector{
      margin-bottom: 0;
    }
    @include from(pt, $noquery){
      @include inline-block;
      margin-bottom: 0;
      margin-right: 25px;
      max-width: 320px;
      &.closest-selector{
        margin-right: 0;
      }
    }
    @include from(lt, $noquery){
      max-width: 360px;
    }
  }
  .page-user &{
    display: none;
  }
}