.l-region--content-header{
  background-color: #ebebeb;
  color: #000;
  .wrap{
    display: table;
    width: 100%;
     >*{
      display: table-cell;
      vertical-align: middle;
    }
  }
  a{
    color:#000;
  }
  .page-title{
    @extend .gamma;
    margin: 0;
    @include to(d){
     width: 396px;
    }
  }
}