.flag-outer{
  position: relative;
}
.flag-message,
.flag-count{
  display: block;
  position: absolute;
  background-color: #666666;
  //top:-55px;
  top:-63px;
  text-align: center;
  color: #FFF;
  min-width: 100px;
  height: 45px;
  padding-top: 9px;
  left: 50%;
  margin-left: (155px / 2) *-1;
  @include rem(font-size, 20px);
  @include border-radius(10px);
  max-width: 155px;
  td &{
    top:-79px;
  }
  &:after{
    content: " ";
    @include triangle(#666666, 20px, 20px, bottom);
    position: absolute;
    margin-left: -10px;
    left: 50%;
  }
}
.flag-message{
  z-index: 10;
}
.flag-count{
  margin-left: -50px;
  background-color: $yellow;
  color: $bodyCopy;
  display: none;
  &:after{
    @include triangle($yellow, 20px, 20px, bottom);
  }
}