.icon-heart{
  &::before{
    color: #d91919;
  }
}
.flag-outer{
  position: relative;
}
.flag-message,
.flag-count{
  display: block;
  position: absolute;
  background-color: #666666;
  //top:-55px;
  top:-63px;
  text-align: center;
  color: #FFF;
  width: 160px;
  height: auto;
  padding-top: 9px;
  padding-bottom: 14px;
  padding-left: 5px;
  padding-right: 5px;
  left: 50%;
  margin-left: (160px / 2) *-1;
  @include rem(font-size, 15px);
  @include border-radius(10px);
  font-family: $otherFont;
  line-height: 1.3;
  td &{
    top:-79px;
  }
  // &:after{
  //   content: " ";
  //   @include triangle(#666666, 20px, 20px, bottom);
  //   position: absolute;
  //   margin-left: -10px;
  //   left: 50%;
  //   bottom:-20px;
  // }
  @include to(lp){
    font-size: 10px;
    width: 122px;
    margin-left: -61px;
  }
}
.flag-message{
  z-index: 10;
}
.flag-count{
  .victoria &{
    background-color: $victoriaHighlight;
    &:after{
      @include triangle($victoriaHighlight, 20px, 20px, bottom);
    }
  }
  background-color: $yellow;
  color: $bodyCopy;
  display: none;
  font-family: $otherFont;
  //margin-left: -61px;
  &:after{
    @include triangle($yellow, 20px, 20px, bottom);
  }
}