.view{
  .pager{
    margin-top: 25px;
  }
  .pager-load-more{
    padding: 0;
    li{
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    @include button-builder('a');
  }
}
.views-exposed-form{
  .views-exposed-widget{
    margin: 0;
    float: none;
    padding: 0;
  }
}

%filter-buttons{
  @include from(lt, $noquery){
    float: left;
    a{
      &:before{
        content: " ";
        border-right: 1px solid #959595;
        position: absolute;
        left: 11px;
        height: 100%;
        width: 1px;
        top:0;
      }
    }
  }
  &:last-of-type{
    margin-right: 0;
  }
  
  a{
    display: block;
    padding: 20px 35px;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    font-weight: 700;
    &.remove{
      background-color: #DDD;
    }
    &:after{
      @include rem(font-size, 16px);
      color: #666666;
      right: 10px;
      position: absolute;
      top:50%;
      @include translateY(-50%);
    }
  }
}
.views-exposed-widgets{
  margin-bottom: 0;
  label,
  .views-submit-button{
    display: none;
  }
  .bef-select-as-links .form-item{
    >div{
      @extend %filter-buttons;
    }
  }
  .form-radios{
  }
}
.block--block-3{
  .filter{
    @extend %filter-buttons;
    &:first-child{
      a:before{
        border-right: 0;
      }
    }
    a.selected{
      font-size: 20px;
      padding:15px 25px;
      &::after{
        right: 5px;
      }
    }
  }
  .bef-select-as-links .form-item div:first-child a:before{
    display: none;
  }
  @include to(pt){
    display: none !important;
  }
}
/**
* Specific filters
*/
a.loved{
  &:after{
    @extend %ico-moon;
    @extend %icon-heart;
  }
}
a.price.asc{
  &:after{
    @extend %icon;
    @extend %caret-down;
  }
}
a.price.desc{
  &:after{
    @extend %icon;
    @extend %caret-up;
  }
}
a.movein{
  &:after{
    @extend %icon;
    @extend %bus;
  }
}
a.townhouse{
  &:after{
    @extend %icon;
    @extend %home;
  }
}