$bodyFont: "lato",helvetica, arial, sans-serif;
$headerFont: "lato",helvetica, arial, sans-serif;
$otherFont: "proxima-nova",helvetica, arial, sans-serif;
$bodyFontWeight: 400;
$headerFontWeight: 400;

$base-font-size: 16px;
$base-line-height: 22px;