$bodyFont: "calluna",Georgia, Times, 'Times New Roman', serif;;
$headerFont: "tablet-gothic-wide",helvetica, arial, sans-serif;
$otherFont: "tablet-gothic-wide",helvetica, arial, sans-serif;
$bodyFontWeight: 400;
$headerFontWeight: 200;

$base-font-size: 18px;
$base-line-height: 22px;