$black: #000000;
$lightGrey:#e0e0e0;
$grey:#c4c4c4;
$darkGrey:#666666;

$red:#cc0000;

$blue: #759dcd;
$lightBlue: lighten($blue, 15%);
$darkBlue: darken($blue, 15%);;

$green: #75cd7a;
$darkGreen: darken($green, 20%);

$bodyCopy: #666666;

$pink: #ed008c;

$yellow:#ffcc33;

$colourHighlight:$yellow;