// Use REMs with a pixel fa8ontheparkack for font sizing.
@mixin font-size($font-size){
  font-size: $font-size;
  font-size: ($font-size / $base-font-size)*1rem;
}
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $convert : ($value / strip-unit($base-font-size));
    $remValues: #{$remValues + $convert}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}

@mixin header-font(){
  font-family: $headerFont;
  font-weight: 200;
}

@mixin button{
  text-align: center;
  position: relative;
  @include inline-block;
  color: #000;
  border: none;
  @include border-radius(0px);
  padding: 10px 25px;
  @include header-font;
  background-color: $colourHighlight;
  .victoria &{
    background-color: $victoriaHighlight;
  }
  &::before{
    content: " ";
    border: 2px solid #fff;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;
    @include transition(all .5s ease);
    @include scale(0,0);
  }
  &:hover,
  &:focus{
    color:#fff;
    background-color: #333333;
  }
  &:hover::before,
  &:focus::before{
      opacity: 1;
      @include scale(1,1);
  }
}
.button{
  @include button;
}
.button.rev{
  border-color: #000;
  color: #000;
}

.float-list{
  white-space: nowrap;
  margin-top: $vert-spacing-unit - 10px;
  padding: 0;
  li{
    list-style-type: none;
    margin-bottom: 15px;
  }
  @include breakpoint($tab, $noquery){
    li{
      @include inline-block;
      margin-right: 20px;
      margin-bottom: 0;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  @include breakpoint($desk, $noquery){
    li{
      @include rem(margin-right, 86px);
    }
  }
}