@mixin button-builder($selector,$icon:'%angle-down', $extend:'%ico-moon'){
  #{$selector}{
    @include button;
    max-width: 360px;
    width: 100%;
    & &.pager-next{
      padding-right: 53px;      
    }    
    &::before{
        content: " ";
        border: 2px solid #fff;
        position: absolute;
        top:-1px;
        left: 0;
        height: 102%;
        width: 100%;
        z-index: 2;
        opacity: 0;
        @include transition(all .3s ease);
        @include scale(0,0);
    }
    &:hover{
        background-color: #333333;
        color:#fff;
    }
    &:hover::before{
        opacity: 1;
        @include scale(1,1);
    }
    @if $icon{
      &:after{
        @extend #{$extend};
        @extend #{$icon};
        padding-top: 18px;
        color: #FFF;
        position: absolute;
        right: 0;
        top:0;
        bottom: 0;
        width: 53px;
        background-color: #666666;
        z-index: 1;
        @include to(sd){
            padding-top: 15px;
        }
      }
    }
  }
}